modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 39349523

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0"
